In [9]:
import pandas as pd
import numpy as np

ind = ['r1','r2','r3','r4','r5','r6','r7','r8','r9','r10']
col = ['c1','c2','c3','c4','c5','c6','c7','c8','c9','c10']

data = np.arange(0,100).reshape(10,10)

df = pd.DataFrame(data, index=ind, columns=col)
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [2]:
ind = 'r1 r2 r3 r4 r5'.split()
col = 'c1 c2 c3 c4 c5'.split()
col

['c1', 'c2', 'c3', 'c4', 'c5']

In [ ]:
df2=pd.read_csv(